<!DOCTYPE html>
<html ng-app="WebApp">
<head>
	<title>Index web APP</title>
    <link rel="stylesheet" href="assets/styles/bootstrap.css"></link>
    <link rel="stylesheet" href="assets/styles/bootstrap-theme.css"></link>
    <link rel="stylesheet" href="assets/styles/font-awesome.min.css"></link>
    <link rel="stylesheet" type="text/css" href="assets/styles/main.css">
</head>
<body>
    <div ng-view class="container-fluid"></div>

  	<!-- vendor -->
  	<script src="assets/javascript/vendor/jquery-2.1.3.min.js"></script>
  	<script src="assets/javascript/vendor/angular.js"></script>
  	<script src="assets/javascript/vendor/angular-route.js"></script>
  	<script src="assets/javascript/vendor/angular-resource.js"></script>
  	<script src="assets/javascript/vendor/bootstrap.js"></script>

  	<!-- App -->
	<script src="assets/javascript/app.js"></script>
	<script src="assets/javascript/routes.js"></script>

  	<!-- Controllers -->
    <script src="assets/javascript/controllers/indexController.js"></script>
    <script src="assets/javascript/controllers/todoTaskController.js"></script>
    <script src="assets/javascript/controllers/calendarController.js"></script>
  	<script src="assets/javascript/controllers/recipeController.js"></script>

    <!-- Directives -->
    <script src="assets/javascript/directives/dPageNav.js"></script>

    <!-- Filters -->
    <script src="assets/javascript/filters/recipeFilters.js"></script>

    <!-- Services -->
    <script src="assets/javascript/services/todo.js"></script>
    <script src="assets/javascript/services/recipe.js"></script>
</body>
</html>