<div id="launchpad">
	<h1 id="title-index">My Web App</h1>
	<ul>
		<li class="block-app col-md-2">
			<a href="#/todoTask"><i class="glyphicon glyphicon-list-alt"></i></a>
		</li>
		<li class="block-app col-md-2">
			<a href="#/calendar"><i class="glyphicon glyphicon-calendar"></i></a>
		</li>
		<li class="block-app col-md-2">
			<a href="#/recipe"><i class="glyphicon glyphicon-cutlery"></i></a>
		</li>
		<li class="block-app col-md-2">
			<a href="#/tvshows"><i class="glyphicon glyphicon-facetime-video"></i></a>
		</li>
		<li class="block-app col-md-2">
			<a href="#/weather"><i class="fa fa-sun-o"></i></a>
		</li>
		<li class="block-app col-md-2">
			<a href="#/sport"><i class="fa fa-futbol-o"></i></a>
		</li>
		<li class="block-app col-md-2">
			<a href="#/agar"><i class="fa fa-gamepad"></i></a>
		</li>
		<li class="block-app col-md-2">
			<a href="#/translate"><i class="fa fa-globe"></i></a>
		</li>
		<li class="block-app col-md-2">
			<a href="#/speech"><i class="fa fa-microphone"></i></a>
		</li>
		<li class="block-app col-md-2">
			<a href="#/social"><i class="fa fa-facebook"></i></a>
		</li>
	</ul>
	<div class="clearfix"></div>
</div>